body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul li {
    display: inline;
}

.ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.ul li a:hover {
    background-color: #555;
    color: #fff;
}

.login-li {
    margin-left: auto;
}
