*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;
}
header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.won{
    border-radius: 50%;
    background: #34a853;
}
header ul li{
    padding: 10px 5px;
}

h1{
    text-align: center;
    margin-top: 230px;
    font-weight: 400;
    font-size: 90px;
    line-height: 105px;
    letter-spacing: 2px;
}
h1 span:nth-child(1){
    color: #4285f4;
}
h1 span:nth-child(2){
    color: #ea4335;
}
h1 span:nth-child(3){
    color: #fcc629;
}
h1 span:nth-child(4){
    color: #4285f4;
}
h1 span:nth-child(5){
    color: #34a853;
}
h1 span:nth-child(6){
    color: #ea4335;
}
input{
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 0 20px;
}
button{
    padding: 10px 15px;
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}