.chat-screen_texts{
    padding: 10px;
    list-style-type: none;
}
.chat-screen_texts > .text{
    background-color: #34d27b;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-right: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat-screen_texts > .text::after{
    content: "";
    border-right: 16px solid #34d27b;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}
.chat-screen_texts > .text:hover{
    background-color: #1c9352;
    transition: background-color 1.5s 0.2s ease-in;
}
.chat-screen_texts > .text:hover::after{
    border-right: 16px solid #1c9352;
    transition: border-right 1.5s 0.2s ease-in;
}
.chat-screen{
    overflow: hidden;
}