*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
}
#container{
    width: 100%;
    max-width: 640px;
    margin: auto;
}
header{
    width: 100%;
    max-width: 640px;
    height: 60px;
    border-bottom: 1px solid #000033;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}
.header_search{
    display: flex;
    align-items: center;
}
input, button, select{
    height: 30px;
    border: 0.5px solid gray;
}
main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
img{
    width: 200px;
    height: 200px;
}