/* globals.css */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  color: #333;

}


h1 {
  color: #222;
  font-size: 40px;
  text-align: center;

}

h2{
  font-size: 30px;
}

nav {
  border-radius: 8px 8px 0 0 ;
  width: 500px;
  background-color: #333;
  padding: 16px;
}
.choose{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.cat, .dog{
  display: flex;
  gap: 40px;
  background-color: #333;
  padding: 6px 10px;
  border-radius: 15px;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 16px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.home{
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 500px;
  height: 300px;
  padding: 1rem;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.api{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  width: 100px;
  border-radius: 8px;
  margin-bottom: 3px;
}